h1 {
    color: rgb(59, 226, 79);
    width: 300px;
    height: 1px;
    text-align: center;
    display: inline;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: rgb(136, 136, 214);
    padding: 10px;
    border-color: black;
}
