h1,
footer h2 {
    color: white;
    display: inline;
    font-family: "Montserrat", sans-serif;
}

h2 b {
    font-family: "Montserrat", sans-serif;
}

header,
footer {
    /*Caracteristicas de las cajas de titulo y pie de pagina*/
    background-color: #333;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
}

nav {
    /*Barra de navegacion*/
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 8px;
}

nav ul {
    /*Acomoda los elemmentos del nav para que no se extienda la caja*/
    margin: 0;
    padding: 0;
}

nav ul li {
    /*Acomoda la lista del nav uno al lado del otro*/
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    /*Le saca el subrayado a las palabras*/
}

nav ul li a:hover {
    color: grey;
    /*Le cambia el color al posicionarse por encima*/
}

.nav_active {
    color: rgb(147, 145, 145);
    /*Queda con otro color el vinculo donde esta situado*/
}

form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    /*Crea una sombra por detras*/
}

.vehiculo {
    background-color: #f9f9f9;
    /*Le crea cierta opacidad a la caja*/
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.radio-auto,
.radioauto {
    margin-left: 20px;
}

.img {
    width: 8%;
    height: 8%;
    padding: 5px;
    margin-right: 50px;
    margin-top: 20px;
    transition: all 1.2s;
    /*Ralentiza las animaciones*/
}

.img:hover {
    width: 13%;
    height: 13%;
    padding: 5px;
    margin-right: 50px;
    transform: rotate(360deg);
    /*Hace girar las imagenes*/
}

#calculo {
    display: list-item;
    margin-left: 30px;
    margin-top: 15px;
}

.boton {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-left: 20px;
    border-radius: 6px;
    cursor: pointer;
    /*cambia el tipo de cursor sobre el boton*/
}

.boton:hover {
    background-color: #555;
}

.grafico-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*El titulo queda en el medio*/
}

.mru {
    border: 2px solid black;
    /*Pone el borde negro alrededor del canvas*/
}

select,
input {
    padding: 5px;
    border-color: black;
    border-width: 2px;
    /*Le da un contorno a las cajas de ingreso de datos*/
}

.Titulos {
    font-size: x-large;
    font-style: initial;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    margin-bottom: 5px;
}

.Teoria {
    font-size: large;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 15px;
}

.imagen-teo {
    width: 400px;
    height: auto;
    /* Altura se ajustará automáticamente */
    margin-bottom: 15px;
}

.imagen-form {
    width: min-content;
    height: auto;
    margin-bottom: 15px;
}

.formula img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.formula h2 {
    color: #007bff;
    /* Color azul para los títulos de fórmulas */
}

footer h3 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo_ucc {
    width: 13%;
    height: 13%;
}

@media (max-width: 600px) {
    /* Grafico responsive*/
    .grafico-container{
        display: inline; /*Permite acomodar a la izquierda la caja*/
    }
    .mru {
        width: 380px; /* Hace mas chico el canvas */
        height: auto; /* Altura se ajusta automáticamente */
    }
    /*Logo UCC responsive*/
    #logo_ucc {
        width: 40%; /*Hace mas grande el logo*/
        height: 40%;
    }
    /*Imagenes responsive color autitos*/
    .img {
        width: 20%;
        height: 20%;
        margin: 0 16vh 0 0;
    }
}

@media (max-width: 370px) {
    .mru {
        width: 350px; /* Hace mas chico el canvas */
        height: auto; /* Altura se ajusta automáticamente */
    }
    .img {
        margin: 0 15vh 0 0;
    }
}